body {
    width:100%;
    height:100%;
    position:fixed;
    font-family: Arial, Helvetica, sans-serif;
}
.raj,.matt,.aaron, .sharone {
	float:left;
	text-align: center;
	width:25%;
	height:100%;
}
.raj {
	color: red;
}
.matt {
	color: green;
}
.aaron {
	color: blue;
}
.sharone {
	color: #ff69b4;
}

.vCenter {
	position:absolute;
	width: inherit;
}